*{
   margin: 0%;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
}

/*header area */

.header{
   display: flex;
   background-color: azure;
   justify-content: space-between;
   color: white;
   padding: 15px 40px;
}

.logo{
   font-weight: bold;
   font-size: 24px;
   color: brown;
}

.navlinks{
   display: flex;
   gap: 30px;
}

.navitems{
   color: brown;
   text-decoration: none;
   font-size: 16px;
}

.navitems:hover{
   background-color: rgb(223, 170, 170);
   padding: 20px;
   font-size: 20px;
   color:black;
}


/*banner area*/

.banner{
   width:100%;
   height: 600px;
   position: relative;
}

.bannerImage{
   width: 100%;
   height: auto;
   object-fit: cover;
   /*opacity: 0.7;*/
}

.bannerText{
   position: absolute;
   top: 50;
   left: 50;
   color: aliceblue;
   font-size: 36px;
   text-align: center;
   font-weight: bold;
   transform: translate(-50%, -50%);
}