.heading{

   background-color: aliceblue;
   color: rgb(15, 14, 31);
   text-align: center;
   padding: 30px;

}


.message{
   background-color: rgb(208, 235, 201);
   color: rgb(243, 244, 239);
   text-align: center;
   padding: 80px;
   font-size: 50px;


}

/*banner area*/

.banner{
   width:100%;
   height: 600px;
   position: relative;
}

.bannerImage{
   width: 100%;
   height: auto;
   object-fit: cover;
   /*opacity: 0.7;*/
}

.bannerText{
   position: absolute;
   top: 50;
   left: 50;
   color: aliceblue;
   font-size: 36px;
   text-align: center;
   font-weight: bold;
   transform: translate(-50%, -50%);
}